body{
	background-image: url("https://www.monsterhunter.com/wilds/_next/static/media/bg-content.1bd653a3.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family:  Segoe UI, Helvetica Neue, HelveticaNeue, YuGothic, Yu Gothic Medium, Yu Gothic, Verdana, Meiryo, sans-serif;
}
.menu{
	background-image: url("https://www.monsterhunter.com/wilds/_next/static/media/buy_bg.4676bb8f.png");
	background-size: 1940px;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -17px;
	margin-left: -20px;
	margin-right: -10px;
	margin-bottom: -23px;
	position: sticky;
	top:0;
}
#row1{
	margin-left: -20px;
	position: sticky;
	top:121.5px;
}
ul{
	list-style: none;
  	padding: 0;
}
li{
	display: inline;
	font-size: 22px;
	margin-left: 20px;
  	margin-right: 70px;
  	vertical-align: middle;
}
a{
	text-decoration: none;
	color: white;
}
#start{
	width: 9%;
	transition: transform 0.3s ease-in-out;
}
#start:hover{
	transform: scale(1.1);
}
.hunting{
	transition: 500ms linear 0s;
}
.hunting:hover{
	text-shadow: -1px 1px 8px #FFFFCC, 1px -1px 8px #FFFFFF;
}
#access{
	background-color: white;
	margin-top: 25px;
	border-radius: 50%;
	width: 3.5%;
	transition: transform 0.3s ease-in-out;
}
#access:hover{
	transform: scale(1.1);
}